@model  Blog.Web2.Models.ViaggioRavendb

@{
    ViewData["Title"] = "Visualizza";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Città
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Citta)
        </dd>
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class="col-sm-2">
            Descrizione
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<div style="text-align:center">
    <table align="center" cellpadding="20px" style="width:400px">
        <thead>
            <tr>
                <th style="background-color:lawngreen">
                    Consigliato
                </th>
                <th style="background-color:red">
                    Sconsigliato
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color:lawngreen">
                    @Html.DisplayFor(model => model.Consigliato)
                </td>
                <td style="background-color:red">
                    @Html.DisplayFor(model => model.Sconsigliato)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />
<br />
<p><a asp-action="Cerca">Back to List</a></p>

